<html>
    <head>
        <title>Hello</title>
        <%- include("layouts/header.ejs") %>
    </head>
    <body>
        <%- include("layouts/nav1.ejs") %>
        <h3>Index Page</h3>


        <%- include("layouts/scripts.ejs") %>
    </body>
</html>