.main-header{
    background-color: #fff;
    box-shadow: 0px 0px 5px #e9e9e9, 0px 0px 2px #f7f7f7;
    padding: 3px;
    position: sticky;
    top: 0px;
    z-index: 10;
}
.top-nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.top-nav > .action-pellet{
    flex:0.3;
    display: flex;
}
.top-nav > .action-pellet > .pellet-container{
    flex:0.33;
}
.top-nav > .action-pellet > .pellet-container > .action{
    color:#333;
    font-family: ebrima;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 13px;
}
.top-nav > .action-pellet > .pellet-container > .action:hover{
    color:rgba(0, 0, 0, 0.5);
}
.top-nav > .action-pellet > .pellet-container > .action > span:nth-child(odd){
    margin-top:5px
}
.top-nav > .searchbar{
    flex: 0.5;
    display: flex;
    background-color: #f7f7f7;
}
.top-nav > .searchbar > input{
    flex:0.8;
    height:44px;
    border:0px;
    border:1px solid #333;
    border-right:0px;
    padding: 20px;
}
.top-nav > .searchbar > input:focus{
    outline:none;
}
.top-nav > .searchbar > .btn{
    border:1px solid #333;
    border-left:0px;
    color: #000;
    font-weight: 900;
    flex:0.2;
    height: 44px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
.nav-category{
    display: flex;
}
.nav-category .nav-category-header{
    color: #FDA52B;
    font-size: 16px;
    font-weight: 900;
    padding:5px;
    justify-content: space-between;
}
.nav-category .nav-category-header > i{
    position: relative;
    top: 2px;
    margin-left: 10px;
}
.nav-category .nav-category-item{
    flex:0.8
}

.nav-category .nav-category-item > ul{
    list-style-type: none;
    padding: 0px;
}
.nav-category .nav-category-item > ul > li{
    display: inline;
}

.nav-category .nav-category-item > ul > li > a{
    display: inline-block;
    color:rgba(0, 0, 0, 0.5);
    padding: 8px;
    text-decoration: none;
    font-size: 14px;
    border: 0.2px solid #fff;
}

.nav-category .nav-category-item > ul > li > a:hover{
    color: #FDA52B;
    z-index: +2;
    /* box-shadow: 0 0 10px #333; */
}
.content-container{
    display: flex;
}
.side-category{
    width: 20%;
    border-right: 0.2px solid #f1f1f1;
    position: sticky;
    top:70px
}
.product-listing{
    width: 80%;
    padding: 10px;
}
.side-category > ul{
    list-style-type: none;
    padding: 0px
}

.side-category > ul > li{
    display: block;
}

.side-category > ul > li > a{
    display: flex;
    justify-content: space-between;
    padding: 8px;
    color:rgba(0, 0, 0, 0.8);
    font-size: 14px;
    text-decoration: none;
    box-shadow: 0px 0px 2px #fff;
    font-weight: 400;
}

.side-category > ul > li > a > span:nth-child(even){
    font-weight: 600;
    color: #FDA52B;
    font-size: 10px;
    margin-right: 5px;
    display: none;
}
.side-category > ul > li > a:hover{
    color:#FDA52B;
    box-shadow: 0px 0px 2px #ccc;
}

.btn-default{
    background-color: #FDA52B;
    border: 2px solid #FDA52B;
    color:#fff !important;
}
.carousel-indicators li{
    background-color: #FDA52B;
}
@import url("/public/css/layouts/xl.css");

@import url("/public/css/layouts/lg.css") (max-width: 1200px);

@import url("/public/css/layouts/md.css") (max-width: 992px);

@import url("/public/css/layouts/sm.css") (max-width: 768px);

@import url("/public/css/layouts/xs.css") (max-width: 576px);