<div class="container">
    <div class="content-container">
        <div class="side-category">
            <b>Product category</b>
            <ul>
                <li><a href="#"><span>Roots & Tubers</span><span>(390)</span></a></li>
                <li><a href="#"><span>Vegetables</span><span>(30)</span></a></li>
                <li><a href="#"><span>Beverages</span><span>(89)</span></a></li>
                <li><a href="#"><span>Livestock</span><span>(1,290)</span></a></li>
                <li><a href="#"><span>Cooked Food</span><span>(15)</span></a></li>
                <li><a href="#"><span>Legumes</span><span>(14)</span></a></li>
                <li><a href="#"><span>Oil</span><span>(390)</span></a></li>
                <li><a href="#"><span>Roots & Tubers</span><span>(56)</span></a></li>
            </ul>
        </div>
        <div class="product-listing">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="width:100%">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="jumbotron jumbotron-fluid" style="background:linear-gradient(90deg, #FDA52B,#fff)">
                            <div class="container">
                                <h1 class="display-4">Less fat oil</h1>
                                <p class="lead">This is a modified jumbotron that occupies the entire horizontal space
                                    of its parent.</p>
                                <button class="btn btn-default">
                                    More here
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="jumbotron jumbotron-fluid" style="background:linear-gradient(90deg, #FDA52B,#fff)">
                            <div class="container">
                                <h1 class="display-4">Tubers</h1>
                                <p class="lead">This is a modified jumbotron that occupies the entire horizontal space
                                    of its parent.</p>
                                <button class="btn btn-default">
                                    More here
                                </button>
                            </div>
                        </div>
                        <!-- <img src="https://store.agroangeal.com/image/slider/banner-8.jpg" class="" alt="..."> -->
                    </div>
                    <div class="carousel-item">
                        <div class="jumbotron jumbotron-fluid"
                            style="background:linear-gradient(90deg, #FDA52B,#fff); color:#fff">
                            <div class="container">
                                <h1 class="display-4">Aqua</h1>
                                <p class="lead">This is a modified jumbotron that occupies the entire horizontal space
                                    of its parent.</p>
                                <button class="btn btn-default">
                                    More here
                                </button>
                            </div>
                        </div>
                        <!-- <img src="https://store.agroangeal.com/image/slider/banner-8.jpg" class="" alt="..."> -->
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</div>