<header class="main-header">
    <div class="container-fluid">
        <div class="top-nav">
            <div class="logo">
                <a href="#" style="font-size:30px;text-decoration: none;">
                    <b style="color:#f1f1f1">Open</b><span style="color:#ccc">Store</span>
                </a>
            </div>
            <div class="searchbar">
                <input placeholder="search our store"/>
                <button class="btn btn-default"> Search </button>
            </div>
            <div class="action-pellet">
                <div class="pellet-container">
                    <a href="#" class="action">
                        <span class="far fa-user fa-2x"></span>
                        <span>
                            <b>sign in</b><br />
                            <span>Accounts</span>
                        </span>
                    </a>
                </div>
                <div class="pellet-container">
                    <a href="#" class="action">
                        <span class="far fa-heart fa-2x"></span>
                        <span>
                            <b>Wish list</b><br />
                            <span>0 item</span>
                        </span>
                    </a>
                </div>
                <div class="pellet-container">
                    <a href="#" class="action">
                        <span class="fas fa-cart-arrow-down fa-2x"></span>
                        <span>
                            <b>Cart</b><br />
                            <span>2 items</span>
                        </span>
                    </a>
                </div>
            </div>
            
        </div>
    </div>
</header>