<div class="container">
    <div class="row">
        <div class="col-12">
            <h3>Food stuff</h3><hr/>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h3>Groceries</h3><hr/>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h3>Soup condiments</h3><hr/>
        </div>
    </div>
</div>
